.aboutnav {
  color: var(--light);
  span {
    color: var(--contrast);
  }
  ul {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-gap: 40px;
    padding: 12rem;
    font-size: 20rem;
    font-family: "OpenSans ExtraBold";
    align-items: center;
  }
}
