.nav {
  color: var(--light);
  margin-bottom: 100px !important;
  margin-top: 50px !important;
  span {
    color: var(--contrast);
  }
  ul {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-gap: 40px;
    font-size: 20rem;
    font-family: "OpenSans Bold";
    align-items: center;
  }
}
