.skills {
  color: var(--light);
  margin-bottom: 100px !important;
  margin-top: 50px !important;
  margin-left: 76px;
  font-size: 24rem;

  img {
    margin-bottom: 100px !important;
    margin-top: 50px !important;
    margin-left: 100px;
  }
}
